[user]
	name = Seokha Ko
	email = sukdo399@daum.net
[core]
	editor = vim
	filemode = true
[merge]
	tool = vimdiff
[color]
    ui=auto
[commit]
	template = /home/shko/gitconf/commit-template.txt
[init]
	templatedir = /home/shko/gitconf/

